/*
*
* base
*
*/
html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
body {
    background: $bg-body;
    font-family: $font;
    font-weight: $weight;
    font-size: $body;
    margin: $clear;
    padding: $clear;
}
a {
    color: $primary-1;
    text-decoration: none;
    outline: none;
    &:hover {
        color: $primary-2;
    }
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 400;
    margin: $clear;
}
p {
    line-height: 1.4rem;
}
ul {
    padding: $clear;
    margin: 0.2rem;
}
header {
    background: $bg-header;
    padding: $padding;
    width: 100%;
    & .brand {
        // color: #fff;
        padding: $padding;
    }
}
.sub-header {
    background: $bg-subheader;
    border-bottom: 1px solid #efefef;
}
.container {
    max-width: 1080px;
    margin: 0 auto;
}
main {
    padding: 0;
}
.feature {
    background: $bg-feature;
    color: #fff;
    padding: 2rem;
    min-height: 400px;
}
.content {
    display: none;
}
footer {
    padding: $padding;
    font-size: 0.8rem;
}
