/*
*
* globals
*
*/

$bg-body: #fff;
$bg-header: transparent;
$bg-subheader: transparent;
$bg-nav: #efefef;
$bg-feature: linear-gradient(to bottom,  #299a0b 0%,#299a0b 100%);
$bg-footer: #fff;

/*
*
* layout
*
*/

$padding: .5rem;

/*
*
* colors
*
*/

$primary-1: #ccc;
$primary-2: #fff;

/*
*
* typography
*
*/

$font: "Helvetica Neue",
Helvetica, Arial,
"Lucida Grande", sans-serif;

$weight: 300;
$body: 1.2em;

/*
*
* utilities
*
*/
$clear: 0;
